@import "src/colors";

.UpdateUserForm {
  form > .data,
  form > .password_data {
    display: flex;
    flex-direction: column;

    h2 {
      margin: 10px 0;
    }
  }

  form {
    .ui.input {
      width: 400px;
      margin: 5px 0;
    }

    .ui.button {
      margin: 10px 0;
    }

    .image {
      img {
        border: 2px solid $color_black;
      }
      .ui.input {
        margin: 15px 0;
      }
    }
  }
}
