@import "src/colors";

.ui.modal.Post {
  .actions {
    text-align: left;

    span {
      cursor: pointer;
      &:hover {
        color: $color_blue;
      }
    }
  }
}

@media (max-width: 768px) {
  .ui.modal.Post {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

    .actions {
      .stats {
        margin-bottom: 10px;
      }
    }
  }
}
