.PostsList {
  .empty {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 25px 0;
  }

  .ui.card.PostsListItem {
    width: 100%;

    .content {
      .description {
        max-height: 150px;
        overflow-y: hidden;
      }
    }

    .content.actions {
      display: flex;
      justify-content: flex-end;
    }
  }
}
